.body {background-color: #7A9A95;}

.paragraph {
  background-color: #90C5A9;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  height: 41px;
  margin-top: 10px;
  font-size: 0.8rem;
  border-radius: 5px;
   }

.paragraph ol {

padding: 10px 5px;

}

.paragraph li {

border-right: 1px solid #D4B364;
display: block;
font-family: 'Josefin Sans', sans-serif;
padding: 6px 20px;
float: left;
font-family:
}

.paragraph li:last-child {
  border-right: none;
}
.mylogo {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 5px;
  border-radius: 5px;
  float: left;}

.slogan {
font-size: 1rem;
float:right;
max-width: auto;
margin-top: 22px;
color: white;
font-family: 'Josefin Sans', sans-serif;
padding-right: 5px;
border-radius: 5px;
}

.navContainer {
height: 45px;
border-radius: 5px;
max-width: 920px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
background-color: #FA8B60;
overflow: hidden; /* make div grow to accomodate float child elements */
}

.wrapper {
max-width: 920px;
margin-left: auto;
margin-right: auto;
overflow: auto;
border-radius: 5px;
background-color: #FA8B60;
margin-top: 10px;

}


.summary {
max-width: 450px;
margin-top: 20px;
padding-top: 10px;
margin-left: auto;
margin-right: auto;
padding-bottom: 10px;
font-family: 'Josefin Sans', sans-serif;
font-size: 1rem;
background-color: white;
opacity: 0.4;
height: 180px;
border-radius: 5px;
text-align: center;


}

.rosediv {

max-width: 450px;
margin-top: 20px;
height: 180px;
border-radius: 5px;
}
